
/* Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  height: 50px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  margin: 0;
}

/* Add background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#ddd;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling the header */
.header {
  height: 40px;
  padding-top: 0px;
  background: #21ada8;
}

h1 {
  font-size: 24px;
}

/* Navbar */
.navbar {
  padding: 3px;
  background: #fff;
  direction: rtl;
}

/* Navbar lis */
.navbar li {
  display: inline-block;
  padding: 3px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

/* Giving the body the specified background color */
body {
  background: #f1f1f1;
}

h3 {
  font-size: 30px;
}
